body {
    background-color: #023605;
}

h1 {
    text-align: center;
    color: darkgoldenrod;
    font-size: xx-large;
    text-shadow: 2px 2px 5px rgba(34, 43, 2, 0.518);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.gallery-item {
    flex: 1 1 calc(25% - 10px);
    align-content: center;
    padding: 5px;
}

.gallery-item img {
    object-fit: cover;
    box-shadow: 10px 10px 10px 10px rgba(34, 43, 2, 0.518);
    width: calc(25vh); 
    height: 25vh;
}

.gallery-item:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .gallery-item {
        flex: 1 1 calc(33.33% - 10px);
    }
}

@media (max-width: 600px) {
    .gallery-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 400px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}
